mat-form-field {
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 40px;
}

button {
  width: 220px;
}

.titulo {
  font-size: 25px;
}

.caixa-dialogo {
  margin: 10px 10px 10px 10px;
}

.descricao, .descricao-adicional {
  max-width: 400px;
}

.descricao2 {
  max-width: 200px;
}

.id {
  max-width: 140px;
}

.data {
  max-width: 220px;
}

.valor, .valor-adicional, .valor-custo {
  max-width: 210px;
}

.fornecedor {
  max-width: 300px;
}

.cor {
  max-width: 200px;
}

.cliente {
  max-width: 300px;
}

.tipo {
  max-width: 200px;
}

.pagamento-adicional {
  max-width: 320px;
}

.cnpj {
  max-width: 200px;
}

.celular {
  max-width: 150px;
}

.btn-confirmar {
  background-color: #3f51b5;
  color: white;
}

::ng-deep .custom-text-align-left {
  text-align: left !important;
}

.files {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s;
}

.btn_download {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  line-height: 1;
  color: black;
  font-size: 15px;
  padding-bottom: 25px;

  button {
    width: 180px;
  }
}

.files.dragover {
  background-color: #f0f0f0;
}

.radio-button {
  display: flex;
  flex-direction: column;
}
