mat-form-field {
  width: 100%;
}

mat-tab-group {
  margin: 30px;
}

mat-dialog-content {
  width: 40rem;
}

::ng-deep .custom-text-align-left {
  text-align: left !important;
}

.caixa-dialogo {
  width: 40rem;
  margin: 10px 10px 10px 10px;
  padding: 40px;
}

.span-subtitle {
  padding: 35px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;

  @media (max-width: 428px) {
    font-size: 20px;
  }
}

.subtitle2 {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.content-formulario {
  display: flex;
  align-items: baseline;
  gap: 10px;
  justify-content: center;
}

.mat_qtd {
  width: 160px;
}

.btn-confirmar {
  background-color: #3f51b5;
  color: white;
  width: 200px;
}

.btn-cancelar {
  width: 200px;
}