mat-form-field {
  width: 100%;
}

.caixa-dialogo {
  width: 400px;
  margin: 10px 10px 10px 10px;
}

.btn-confirmar {
  background-color: #3f51b5;
  color: white;
}

::ng-deep .custom-text-align-left {
  text-align: left !important;
}

.files {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s;
}

.btn_download {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  line-height: 1;
  color: black;
  font-size: 15px;
  padding-bottom: 25px;

  button {
    width: 180px;
  }
}

.files.dragover {
  background-color: #f0f0f0;
}
