mat-card {
  width: 65%;
  max-width: none;
  min-width: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    width: 100%;
    max-width: none;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

mat-card > * {
  display: flex;
  flex-direction: column;
}

.caixa-pesquisa {
  width: 100%;
}

.caixa-adicionar {
  display: flex;
  width: 100%;
  border: 20px;
  justify-content: space-between;
  align-items: center;
}

.txt-adicionar {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  user-select: none;
}

.btn-deletar {
  color: red;
}

.btn_faturar {
  color: rgb(255, 196, 59);
}

.btn_faturado {
  color: green;
}

.icon-add,
.text-add {
  color: white;
}

.botao-adicionar {
  color: white;
  gap: 20px;
  display: flex;
}

table {
  margin-top: 22px;
}

mat-paginator {
  margin-top: 22px;
  user-select: none;
}

.nfe {
  color: rgb(86, 86, 255);
}